<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>liuch2</title>
	<link href="http://demo.themeregion.com/octopus/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://demo.themeregion.com/octopus/css/main.css" rel="stylesheet">
</head>
<body>
<section id="why-octopus" class="padding-top padding-bottom">
		<div class="container">
			<div class="row text-center section-title">
				<div class="col-sm-8 col-sm-offset-2">
					<h2>实习流程</h2>
					<p>实习生到公司的大致流程</p>
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row octopus-tab">
						<div class="col-sm-3">
							<ul class="tab-list" role="tablist">
								<li class="active"><a href="#html5" role="tab" data-toggle="tab"><i class="fa fa-html5"></i> HTML5</a></li>
								<li><a href="#css3" role="tab" data-toggle="tab"><i class="fa fa-css3"></i> CSS3</a></li>
								<li><a href="#web-design" role="tab" data-toggle="tab"><i class="fa fa-paper-plane"></i> Design</a></li>
							</ul>
						</div>
						<div class="col-sm-9">
							<div class="tab-content">
								<div class="tab-pane fade in active off-white" id="html5">
									<h2>We love to work with HTML5</h2>
									<img class="img-responsive" src="http://demo.themeregion.com/octopus/images/accordion/accordion1.jpg" alt="accordion">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
								</div>
								<div class="tab-pane fade off-white" id="css3">
									<h2>We love to work with CSS3</h2>
									<img class="img-responsive" src="http://demo.themeregion.com/octopus/images/accordion/accordion2.jpg" alt="accordion">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
								</div>
								<div class="tab-pane fade off-white" id="web-design">
									<h2>We love to Design</h2>
									<img class="img-responsive" src="http://demo.themeregion.com/octopus/images/accordion/accordion3.jpg" alt="accordion">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
								</div>
							</div>	
						</div>
					</div>	
				</div>
				<div class="col-sm-6">
					<div class="panel-group" id="accordion-two">
						<div class="panel panel-default">
							<div class="panel-heading active">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-two" href="#professional"><i class="fa fa-magic"></i> Professional Design</a>
								</h4>
							</div>
							<div id="professional" class="panel-collapse collapse in">
								<div class="panel-body">									
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-two" href="#customization"><i class="fa fa-cogs"></i> Easy Customization</a>
								</h4>
							</div>
							<div id="customization" class="panel-collapse collapse">
								<div class="panel-body">									
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-two" href="#support"> <i class="fa fa-envelope"></i> 24/7 Support</a>
								</h4>
							</div>
							<div id="support" class="panel-collapse collapse">
								<div class="panel-body">									
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-two" href="#help-desk"><i class="fa fa-bitbucket"></i> Live Help Desk</a>
								</h4>
							</div>
							<div id="help-desk" class="panel-collapse collapse">
								<div class="panel-body">									
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</section>


    <script type="text/javascript" src="http://demo.themeregion.com/octopus/js/jquery.js"></script>
    <script type="text/javascript" src="http://demo.themeregion.com/octopus/js/bootstrap.min.js"></script>	
    <script type="text/javascript" src="http://demo.themeregion.com/octopus/js/main.js"></script>
  	<script type="text/javascript" src="http://demo.themeregion.com/octopus/js/jquery.parallax.js"></script>

</body>
</html>