<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>liucheng</title>
    <link href="http://the8guild.com/themes/html/kennedy/css/style.css" rel="stylesheet" media="screen">
    <link href="http://the8guild.com/themes/html/kennedy/css/colors/color-yellow.css" rel="stylesheet" media="screen">
</head>
<body>
<section class="page-section space-top-2x" id="faq" data-background="#bg04">
        <div class="container">
          <div class="page-heading">
            <h2>F.A.Q</h2>
            <h3>Frequently Asked Questions inside accordion widget.</h3>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- Accordion -->
              <div class="panel-group" id="accordion">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                        <span></span>Frequently Asked Question #1
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                        <span></span>Frequently Asked Question #2
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                        <span></span>Frequently Asked Question #3
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                        <span></span>Frequently Asked Question #4
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

	<script src="http://the8guild.com/themes/html/kennedy/js/jquery-1.11.1.min.js"></script>
    <script src="http://the8guild.com/themes/html/kennedy/js/jquery.easing.min.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/bootstrap.min.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/jquery.touchSwipe.min.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/jquery.placeholder.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/smoothscroll.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/waypoints.min.js"></script>
    <script src="http://the8guild.com/themes/html/kennedy/js/jquery.shuffle.min.js"></script>
    <script src="http://the8guild.com/themes/html/kennedy/js/lightGallery.min.js"></script>
    <script src="http://the8guild.com/themes/html/kennedy/mailer/mailer.js"></script>
	<script src="http://the8guild.com/themes/html/kennedy/js/scripts.js"></script>
    
</body>
</html>