<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>comindex</title>
	<script src="http://wbpreview.com/previews/WB0L500N4/assets/js/jquery-ui-1.8.22.custom.min.js"></script>
	<script src="http://wbpreview.com/previews/WB0L500N4/assets/js/jquery-ui-1.8.22.custom.min.js"></script>
	<link href="http://wbpreview.com/previews/WB0L500N4/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB0L500N4/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB0L500N4/assets/css/main.css" rel="stylesheet">    
</head>
<body>
<div id="big-video-wrap">
	<div id="big-video-vid" class="video-js vjs-default-skin vjs-playing" width="300" height="150" style="width: 1349px; height: 758.8125px; display: block; top: -268.40625px; left: 0px;">
		<video id="big-video-vid_html5_api" class="vjs-tech" preload="auto" data-setup="{}" webkit-playsinline="" autoplay="" poster="null" src="./static/video/525.swf" style="position: absolute; width: 100%;"></video>
	</div>
</div>
<div class="main-container">
		<div class="container-fluid" id="intro">	
		<div class="container">	
			<div class="row span6 center">
				<h1>Clean &amp; simple, responsive one page theme with video support</h1>
				<p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit.
	</p>
				<a href="#" class="btn btn-xlarge btn-purple">Sign Up</a>
			</div>	
		</div>
	</div>
    <!-- ends Intro -->
    
    
     <!-- #about -->
<div class="container-fluid" id="about">
		<div class="container light">
			<h1>What can we offer</h1>
		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <img alt="" src="assets/img/icon1.png">
		      <h3>Well Connected</h3>
		      <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
		    </div>
		  </li>
		
		  <li class="span4">
		    <div class="thumbnail">
		      <img alt="" src="assets/img/icon2.png">
		      <h3>Award Winning</h3>
		      <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
		    </div>
		  </li>
		  
		  <li class="span4">
		    <div class="thumbnail">
		       <img alt="" src="assets/img/icon3.png">
		      <h3>Creative Thinking</h3>
		      <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
		    </div>
		  </li>
		</ul>
	</div>
</div>
     <!-- ends About -->
     
     

</body>
</html>