<!DOCTYPE html>
<html>
<head>

<!--头部-->
      <link href="http://the8guild.com/themes/html/kedavra/masterslider/style/masterslider.css" rel="stylesheet" media="screen">
      <link href="http://the8guild.com/themes/html/kedavra/css/styles.css" rel="stylesheet" media="screen">
</head>
<body>

      <section class="gray-bg double-padding-top double-padding-bottom">
            <div class="page-heading center">
              <h2 class="animation" data-animation="fadeInDown">________________</h2>
              <h3 class="animation" data-animation="fadeInDown">Welcome To Our Web<span></span></h3>
            </div>
            <div class="ms-partialview-template fullwidth space-top" id="fs-partial-view-info">
              <div class="master-slider ms-skin-default" id="fs-partial-view">
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="{{}}" alt="Corporate Blog"/>  
                  <div class="ms-info">
                    <h3>Corporate Blog</h3>
                    <p>Share your company&#39;s latest news and achievement right from the homepage.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-blog-corporate.html">View Demo</a></div>
                  </div>   
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/personal-blog.png" alt="Personal Blog"/>    
                   <div class="ms-info">
                     <h3>Personal Blog</h3>
                     <p>Stay connected with your audience and attract new readers.</p>
                     <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-blog-personal.html">View Demo</a></div>
                  </div> 
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/shop-catalog.png" alt="Shop Catalog"/>    
                  <div class="ms-info">
                    <h3>Shop Catalog</h3>
                    <p>Whether you develop small e-commerce site or big online store this template is for you.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-shop-catalog.html">View Demo</a></div>
                  </div>  
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/shop-featured.png" alt="Shop Featured Product"/>    
                  <div class="ms-info">
                    <h3>Shop Featured Product</h3>
                    <p>Do you have special product in your shop? This template helps you beautifully present it.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-shop-featured-product.html">View Demo</a></div>
                  </div>  
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/photographer.png" alt="Portfolio - Photographer"/>    
                  <div class="ms-info">
                    <h3>Portfolio - Photographer</h3>
                    <p>Great photographer and want to tell everyone about your talent? This template is for you.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-portfolio-photographer.html">View Demo</a></div>
                  </div>  
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/musician.png" alt="Portfolio - Musician"/>    
                  <div class="ms-info">
                    <h3>Portfolio - Musician</h3>
                    <p>Great musician and want to tell everyone about your talent? This template is for you.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-portfolio-musician.html">View Demo</a></div>
                  </div>  
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/law.png" alt="Business - Lawyer"/>     
                    <div class="ms-info">
                      <h3>Business - Lawyer</h3>
                      <p>Suitable for both private lawyer or leading Legal company.</p>
                      <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-business-law.html">View Demo</a></div>
                  </div> 
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/real-estate.png" alt="Business - Real Estate"/>    
                   <div class="ms-info">
                    <h3>Business - Real Estate</h3>
                    <p>Great presentation of your Real Estate Agency.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-business-real-estate.html">View Demo</a></div>
                  </div>   
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/event.png" alt="Event Presentation"/>    
                   <div class="ms-info">
                    <h3>Event Presentation</h3>
                    <p>Specially designed page for the announcement of the event with an informative<br>and easy to navigate schedule.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-events.html">View Demo</a></div>
                  </div>   
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/service.png" alt="Services - Beauty and SPA"/>    
                   <div class="ms-info">
                    <h3>Services - Beauty &amp; SPA</h3>
                    <p>You need to present your services? We created separate page with<br>the user-friendly reservation form.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-services.html">View Demo</a></div>
                  </div>   
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/landing.png" alt="Landing Page"/>    
                   <div class="ms-info">
                    <h3>Landing Page - Dental Clinic</h3>
                    <p>Page features fullscreen parallax image and one page layout along with user-friendly navigation.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-landing.html">View Demo</a></div>
                  </div>   
                </div>
                <div class="ms-slide">
                  <img src="http://the8guild.com/themes/html/kedavra/masterslider/blank.gif" data-src="http://the8guild.com/themes/html/kedavra/img/home/home-screens/startup.png" alt="Landing Startup"/>    
                   <div class="ms-info">
                    <h3>Landing Page - Startup</h3>
                    <p>Bring attention to your ideas or products with eye-catching design.</p>
                    <div class="space-top"><a class="btn btn-md btn-primary btn-center" href="home-startup.html">View Demo</a></div>
                  </div>   
                </div>
              </div>
            </div>
          </section>


<script src="http://the8guild.com/themes/html/kedavra/js/libs/jquery-1.11.1.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/libs/jquery.easing.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/owl.carousel.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/lightGallery.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/jquery.stellar.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/jquery.parallax.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/scripts.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/bootstrap.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/smoothscroll.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/utilities.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/foundation.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/jquery.placeholder.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/icheck.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/jquery.validate.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/waypoints.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/isotope.min.js"></script>
<script src="http://the8guild.com/themes/html/kedavra/js/plugins/masterslider.min.js"></script>
</body>
</html>


 




