<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>comthree 8</title>

	<link href="./static/css/htmlcoder/bootstrap.css" rel="stylesheet">
	<link rel='stylesheet' id='fontawesome-css'  href='http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' type='text/css' media='' />
	<link href="./static/css/htmlcoder/owl.carousel.css" rel="stylesheet">
	<link href="./static/css/htmlcoder/style.css" rel="stylesheet">
	<link href="./static/css/htmlcoder/custom.css" rel="stylesheet">
</head>
<body>
	<div class="section clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>职位介绍</h2>
					<div class="separator-2"></div>
					<p>Sed ut Perspiciatis Unde Omnis Iste Sed ut sit  voluptatem accusan tium </p>
					<div class="owl-carousel carousel">
						<div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-1.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-1.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-2.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-2.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-3.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-3.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-4.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-4.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-5.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-5.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-6.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-6.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-7.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-7.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="image-box">
							<div class="overlay-container">
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-8.jpg" alt="">
								<div class="overlay">
									<div class="overlay-links">
										<a href="portfolio-item.html"><i class="fa fa-link"></i></a>
										<a href="http://htmlcoder.me/preview/idea/v.1.0/images/portfolio-8.jpg" class="popup-img"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="image-box-body">
								<h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
								<a href="portfolio-item.html" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- section end -->
<script type="text/javascript" src="./static/js/htmlcoder/jquery.min.js"></script>
<script type="text/javascript" src="./static/js/htmlcoder/bootstrap.min.js"></script>
<script type="text/javascript" src="./static/js/htmlcoder/modernizr.js"></script>
<script type="text/javascript" src="./static/js/htmlcoder/owl.carousel.js"></script>
<script type="text/javascript" src="./static/js/htmlcoder/jquery.appear.js"></script>
<script type="text/javascript" src="./static/js/htmlcoder/template.js"></script>
</body>
</html>