<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>item</title>

<link rel='stylesheet' id='fontawesome-css'  href='http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' type='text/css' media='' />
<link rel='stylesheet' id='style-css'  href='./static/css/pixelglow/style.css' type='text/css' media='all' />


</head>
<body>
<section id="services" class="cbp-so-section page-features" style="background-position: 0% -5px;">
	<div class="container cbp-so-side cbp-so-side-top">
				<h1>实习项目</h1>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">This is Photoshop&#8217;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</div>
		</div>
		<div class="row">
			<div class="col-md-3 service-column">
				<figure class="service-icon"><i class="fa fa-desktop"></i></figure>
					<h2>Web design</h2>
						<p class="service-description">Lorem ipsum, consectetur adipiscing elit. Duis sapien sit amet condimentum. Pellentesque tempus bibendum libero vitae malesuada.</p>
						</div>
			<div class="col-md-3 service-column">
				<figure class="service-icon"><i class="fa fa-camera-retro"></i></figure>
					<h2>Branding</h2>
						<p class="service-description">Lorem ipsum dolor sit amet. Nunc risus nulla, fringilla et turpis quis, rutrum feugiat urna. Pellentesque tempus bibendum libero.</p>
						</div>
			<div class="col-md-3 service-column">
				<figure class="service-icon"><i class="fa fa-print"></i></figure>
					<h2>Print design</h2>
						<p class="service-description">Duis dignissim venenatis sit amet condimentum. Integer varius vestibulum enim quis feugiat. Pellentesque vitae.</p>
						</div>
			<div class="col-md-3 service-column">
				<figure class="service-icon"><i class="fa fa-puzzle-piece"></i></figure>
					<h2>Illustration</h2>
						<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus nulla, fringilla et turpis quis, rutrum feugiat urna. Sapien amet.</p>
						</div>
		</div>
		
	</div>
</section>


</body>
</html>