<!DOCTYPE html>
<html>
<head>
    <title>student-three</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- favicon.ico and apple-touch-icon.png -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="http://exot.sk/goforit-reloaded/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://exot.sk/goforit-reloaded/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://exot.sk/goforit-reloaded/apple-touch-icon-114x114-precomposed.png">
    <link rel="stylesheet" href="http://exot.sk/goforit-reloaded/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://exot.sk/goforit-reloaded/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="http://exot.sk/goforit-reloaded/css/timeline.css">
    <link rel="stylesheet" href="http://exot.sk/goforit-reloaded/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
    <script src="http://exot.sk/goforit-reloaded/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46457738-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <section id="works">
        <div class="container">
            <h2 class="text-center">Portfolio<i class="icon-works"><img src="http://exot.sk/goforit-reloaded/img/icon-works.png"></i></h2>
            <p class="text-center lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        </div> <!-- end: container -->
        <div id="works_items">
            <ul id="og-grid" class="og-grid">
                <li>
                    <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/z1b.jpg" alt="img01"><div>Maserati photoshooting 2013</div>
                    </a>
                            <div class="thumbs">
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z2.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z3.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z4.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z4.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z5.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z5.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a> 
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z6.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z6.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z7.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z8.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z9.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z9.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                                            </div>
                </li>
                <li class="" style="transition: height 350ms ease; -webkit-transition: height 350ms ease; height: 250px;">
                    <a href="#" data-largesrc="http://exot.sk/goforit-reloaded/temp/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/2.jpg" alt="img02"><div>Magazine publishing 2013</div>
                    </a>
                        <div class="thumbs">
                            <a href="#" data-largesrc="http://exot.sk/goforit-reloaded/temp/2.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="#" data-largesrc="http://exot.sk/goforit-reloaded/temp/z1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="#" data-largesrc="http://exot.sk/goforit-reloaded/temp/z2.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="#" data-largesrc="http://exot.sk/goforit-reloaded/temp/z3.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                        </div>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/3.jpg" alt="img03"><div>Business marketing event</div>
                    </a>
                        <div class="thumbs">
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/3.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z2.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z3.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                        </div>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/4.jpg" alt="img01"><div>Magazine publishing and graphic design</div>
                    </a>
                        <div class="thumbs">
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/4.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z1.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/z2.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>
                            <a href="http://exot.sk/" data-largesrc="http://exot.sk/goforit-reloaded/http://exot.sk/goforit-reloaded/temp/z3.jpg" data-thumb="http://exot.sk/goforit-reloaded/temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>
                        </div>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/5.jpg" alt="img02"><div>Motor boat photoshooting</div>
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/6.jpg" alt="img03"><div>Superstar website development</div>
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/7.jpg" alt="img01"><div>Yacht magazine design</div>
                    </a>
                </li>
                <li>
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="http://exot.sk/goforit-reloaded/temp/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="http://exot.sk/goforit-reloaded/temp/thumbs/8.jpg" alt="img02"><div>Motor boat design contest</div>
                    </a>
                </li>
            </ul>
        </div><!-- end: #works_items -->
    </section>
        
        <script src="http://exot.sk/goforit-reloaded/js/vendor/jquery-1.9.1.min.js"></script>        
            
        <script src="http://exot.sk/goforit-reloaded/js/vendor/bootstrap.min.js"></script>

        <script src="http://exot.sk/goforit-reloaded/js/waypoints.min.js" type="text/javascript"></script>
        <script src="http://exot.sk/goforit-reloaded/js/waypoints-sticky.js" type="text/javascript"></script>
        

        <script src="http://exot.sk/goforit-reloaded/js/jquery.cycle2.min.js"></script>
        <script src="http://exot.sk/goforit-reloaded/js/jquery.cycle2.scrollVert.min.js"></script>

        <script src="http://exot.sk/goforit-reloaded/js/jquery.scrollto.js"></script>
        <script src="http://exot.sk/goforit-reloaded/js/grid.js"></script>
        <script>
            $('#slider').cycle({
                fx : 'scrollVert',
                timeout: 3000,
                speed: 300,
                slides: '.slide'
            });

            $('.navbar').waypoint('sticky');

            $('a.scrollto, a#arrow_down').click(function(e){
                $('html,body').scrollTo(this.hash, this.hash);
                e.preventDefault();
            });

            $(function() {
                Grid.init();
            });
        </script>        
        <script src="http://exot.sk/goforit-reloaded/js/main.js"></script>
</body>
</html>